<footer>
  <div class="footer-container">
    <!-- Primera columna (Contacto 1) -->
    <div class="footer-column">
      <img src="assets/img/ararat_logo.png" alt="Ararat Logo">
      <p>Fernando Cepeda<br>Director Comercial</p>
      <p>+569 994 05462</p>
      <a href="mailto:fcepeda@araratchile.com">fcepeda@araratchile.com</a><br>
      <a href="mailto:ventas@araratchile.com">ventas@araratchile.com</a><br>
      <a href="https://www.araratchile.com" target="_blank">araratchile.com</a>
      <p>Síguenos en:</p>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" style="width: 20px; height: 20px;"> Facebook
        </a>
        <a href="https://instagram.com" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" style="width: 20px; height: 20px;"> Instagram
        </a>
      </div>
    </div>
    <!-- Segunda columna (Contacto 2) -->
    <div class="footer-column">
      <img src="assets/img/pyrotect_logo.png" alt="Pyrotect Logo">
      <p>Luis Villanueva<br>Director General</p>
      <p>+1 (541) 390-2526</p>
      <a href="mailto:lvillanueva@araratchile.com">lvillanueva@araratchile.com</a><br>
      <a href="https://www.pyrotectstore.com" target="_blank">pyrotectstore.com</a>
      <p>Síguenos en:</p>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank">Facebook</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
      </div>
    </div>
    <!-- Columna 3 (Ubicación) -->
    <div class="footer-column">
      <h3>Nuestra Ubicación</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2321.200867916809!2d-70.63518586913175!3d-33.82700969862103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9663251854176d4f%3A0x7043b6639c9208f4!2sArarat%20soldaduras!5e0!3m2!1ses!2sus!4v1728500567036!5m2!1ses!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>La Rinconada de Huelquén, Sitio 4<br>Lote B - Comuna de Paine</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p><strong>Copyright © 2023 AraratChile</strong></p>
  </div>
</footer>
